<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ceneax.app.lib.redux">

    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="ceneax.app.lib.redux.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="ceneax.app.lib.redux.ReduxInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>